<app-header></app-header>
<div class="container">
  <div class="side-bar">
      <ul class="nav nav-pills nav-stacked">
        <li><b>Your channel:{{foundChannel}}</b></li>
          <li><input type="text"  class="form-control" placeholder="Enter new Channel name..." [(ngModel)]="channelName"/>
            <!-- <button type="button" class="btn btn-primary" (click)="addChannel()">Click to create Channel</button></li> -->
            <button type="button" (click)="addChannel()" class="btn btn-success">
              Add your new Channel
              </button>
            <li> <input  class="form-control" type="text" placeholder="Search channel..." [(ngModel)]="channel">
            <button class="btn btn-default" (click)="searchChannel()">Search your channel</button>
            <!-- <button (click)="joinChannel()" class="btn btn-primary">Join</button> -->
            <button type="button" (click)="joinChannel()" class="btn btn-default btn-sm">
            Join Channel  
            </button>
            
            <br/></li>
        </ul> 
        <!-- <button id="createService" type="button" (click)="addService()" class="btn btn-primary">Click to create serveice</button> -->
        
        <button (click)="Display()" class="btn btn-success">Display all channels.</button>
        <ul *ngFor="let displayChannel of channelArr">
          <li >
            <button (click)="joinDisplayChannel()"  class="btn btn-primary">Join {{displayChannel}} </button><br/>
          </li>
        </ul>

   </div>


  
  <div class="message-content">
      <section class="timeline">
          <ul *ngFor="let message of allMessages">
            <li >
              <div  [ngStyle]="{'float': (message.from == this.userName)?'right':'left'}"
              [ngClass]="{'alert alert-warning':(message.from != this.userName),'alert alert-success':(message.from == this.userName)}"
              >
                  {{message.body}}
              </div>
            </li>
             
            <!-- more list items here -->
          </ul>
        </section>
        <input type="text" class="form-control" placeholder="Type your message..." [(ngModel)]="messages"/>
        <button (click)="sendMessage()" class="btn btn-success">Send</button>
</div>







  <app-footer></app-footer>




